<header>
  <div class="logotipo">
    <b><a routerLink="/dash"  class="logo">Moviez.</a></b>
  </div>
  <div class="nav_bar">
    <div class="links">
      <a class="navegar" routerLink="/dash">Inicio</a>
      <a class="navegar meusFilmes" routerLink="/meus_filmes">Meus filmes</a>
      <a class="navegar" routerLink="/busca">Busca</a>
    </div>

    <div class="perfil">
      <a routerLink="/meu_perfil"
        ><img
          class="icone_perfil"
          src="../../assets/img/icon_perfil.png"
          alt="Icone de perfil"
      /></a>
    </div>
  </div>
</header>
