<app-header></app-header>
<main>
  <button class="voltar" (click)="voltarTela()"><img src="../../assets/img/curva-de-seta-apontando-para-a-esquerda.png" alt="Icon seta curvada para a esquerda"></button>
  <div class="img_fundo">
    <img
      src="{{exibeFilme.img_fundo}}"
      alt="Imagem do Filme {{exibeFilme.titulo}}"
    />
  </div>

  <section class="detalhes_filme" >
    <div class="lado_esquerdo">
      <div class="container">
        <img
          src="{{exibeFilme.banner}}"
          class="banner_filme"
          alt="Banner filme {{exibeFilme.titulo}}"
          >
          <button class="adicionar_filme btn" (click)="modal.toogle()"><img class="logo_btn" src="../../assets/img/x.png" alt="Icone x"></button>
      </div>

      <div>
        <p class="onde_assistir">Onde assistir:</p>
        <div class="linhaBranca"></div>
        <div class="links">
          <img
            src="../../assets/img/🦆 icon _video_.png"
            alt="Icon de camera"
          />
          <a href="#">Trailer</a>
        </div>

        <div class="links">
          <img src="../../assets/img/Mask group.png" alt="Logo da Disney+" />
          <a href="#">Disney Plus</a>
          <p>(streaming)</p>
        </div>

        <div class="links">
          <img
            src="../../assets/img/Mask group (1).png"
            alt="Logo do Youtube"
          />
          <a href="#">Youtube</a>
          <p>(Aluguel e Compra)</p>
        </div>

        <div class="links">
          <img
            src="../../assets/img/Mask group (2).png"
            alt="Logo da Google Play"
          />
          <a href="#">Google Play</a>
          <p>(Aluguel e Compra)</p>
        </div>
        <div class="linhaBranca"></div>
        <p class="informacoes">Informações:</p>
        <div class="links">
          <img src="../../assets/img/Mask group (3).png" alt="Logo IMDB" />
          <a href="">IMDB</a>
        </div>
      </div>
    </div>
    <div class="lado_direito">
      <div class="titulo_filme">
        <h2>
          {{exibeFilme.titulo}}
        </h2>
        <p>{{ exibeFilme.ano }}</p>
      </div>
      <div class="sinopse">
        <p>
          {{exibeFilme.sinopse}}
        </p>
      </div>

      <div class="ficha_filme">
        <h2>Ficha do Filme</h2>
        <div class="linhaBranca"></div>
        <div class="informacoes_filme">
          <p><b>Lançamento:</b> {{exibeFilme.lancamento}}</p>
          <p><b>Nota Média:</b> {{exibeFilme.nota}}</p>
          <p><b>Duração:</b> {{exibeFilme.duracao}}</p>
          <p><b>Língua:</b> {{exibeFilme.lingua}}</p>
          <p><b>Roteiro:</b> {{exibeFilme.roteiro}}</p>
          <p><b>Diretor:</b> {{exibeFilme.diretor}}</p>
          <p><b>Atores:</b> {{exibeFilme.atores}}</p>
          <p><b>Gênero:</b> {{exibeFilme.genero}}</p>
          <p>
            <b>Principais Prêmios:</b> {{exibeFilme.premios}}</p>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
  <app-modal #modal>
    <section class="modalExcluir">
    <div class="confirmacao">
      <div class="linhaBranca"></div>
      <div class="mensagemExcluir">
        <p>Tem certeza que gostaria de excluir esse filme?</p>
      </div>

      <div class="botoes">
        <button class="btn_confirmar" (click)="excluirFilme()">Excluir</button>
        <button class="btn_confirmar" (click)="modal.toogle()">Cancelar</button>
      </div>
      <div class="linhaBranca"></div>
    </div>
    <div class="imagemConfirmado">
      <img src="../../assets/img/🦆 icon _check circle_.png">
    </div>
  </section>
  </app-modal>
</main>





