main{
  background-color: #464555;
  font-family: 'roboto';
}

.voltar{
  width: 50px;
  height: 50px;
  margin-left: 2%;
  margin-top: 2%;
  border: none;
  border-radius: 50px;
  background: linear-gradient(90deg, #B939A7 0%, #E13664 100%);
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.voltar:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.img_fundo img{
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  mask-image: linear-gradient(to top, transparent 10%, black 100%);
  position: relative;
  bottom: 78px;
}

h2{
  font-size: 32px;
}

.detalhes_filme{
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}

.lado_esquerdo{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 270px;
}

.imagemFilme{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner_filme{
  border-radius: 5px;
  width: 90%;
}

.adicionar_filme{
  width: 50px;
  height: 50px;
  color: white;
  background-color: red;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.adicionar_filme img{
  max-width: 20px ;
}

.container .btn {
  position: absolute;
  top: 90%;
  left: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin-bottom: 10%;
}


.container img {
  width: 100%;
  height: auto;
}

.onde_assistir{
  color: white;
  padding-left: 20px;
}

.linhaBranca{
  height: 1px;
  width: 100%;
  background-color: white;
  margin: 10px 0
}

.links{
  display: flex;
  margin-left: 20px;
  margin-bottom: 10px;
}

.links img{
  max-width: 20px;
  max-height: 20px;
}

.links p{
  color: grey;
}

.links a{
  color: white;
  margin: 0 5px
}

.informacoes{
  color: white;
  margin: 0 0 10px 20px
}


.lado_direito{
  width:65%;
  margin-top: 20px;
  color: white;
}

.titulo_filme{
  display: flex;
  align-items: end;
  margin-bottom: 15px;
}

.titulo_filme p{
  font-size: 18px;
  padding-bottom: 5px;
}

.titulo_filme h2{
  margin-right: 45px;
}

.sinopse{
  font-size: 18px;
}

.ficha_filme{
  margin-top: 20px;
}

.ficha_filme p{
  font-size: 18px;
  margin-bottom: 15px;
}

.modalExcluir{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.confirmacao{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mensagemExcluir{
  color: white;
  margin-top: 30px;
  text-align: center;
}

.botoes{
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-evenly;
}

.btn_confirmar{
  width: 40%;
  height: 40px;
  color: white;
  font-family: 'roboto';
  background: linear-gradient(90deg, #B939A7 0%, #E13664 100%);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.btn_confirmar:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.imagemConfirmado{
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagemConfirmado img{
  width: 60%;
}



@media(max-width:750px){
  .detalhes_filme{
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .lado_esquerdo{
    width: 60%;
    bottom: 100px;
  }

  .banner_filme{
    width: 70%;
  }

}

@media(max-width:900px){
  .modalExcluir{
    flex-direction: column;
    align-items: center;
  }

  .imagemConfirmado{
    margin-left: 0;
    margin-top: 10px;
  }
}

