<app-header></app-header>
<main>
  <div class="mensagem_entrada">
    <p>
      Olá, <a routerLink="/editar_perfil" class="nome_usuario">Gabriel.</a> Confira o que
      está rolando...
    </p>
  </div>

  <section class="recomendados">
    <p>Dos seus amigos:</p>

    <div class="linha_g"></div>

    <div class="filmes">
      <div
        class="card_filme"
        *ngFor="let filme of filmes_recomendados; index as i"
      >
        <img src="{{ filme.banner }}" alt="banner filme vingadores ultimato" />

        <div class="informacoes_filme">
          <div class="usuario_filme">
            <img src="{{ filme.fotoUsuario }}" />
            <p class="nome_user">{{ filme.nomeUsuario }}</p>
            <p>{{ filme.data }}</p>
          </div>

          <div class="linha_p"></div>

          <div class="avaliacoes">
            <p class="assistido">
              Assistiu:<a href="#">{{ filme.nomeFilme }}</a>
            </p>

            <div class="estrelas">
              <img
                src="../../assets/img/ icon _star_ (1).png"
                alt="icone estrela"
              />
              <img
                src="../../assets/img/ icon _star_ (1).png"
                alt="icone estrela"
              />
              <img
                src="../../assets/img/ icon _star_ (1).png"
                alt="icone estrela"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="lancamentos">
    <p>Lançamentos:</p>
    <div class="linha_g"></div>

    <div class="filmes">
      <div
        class="card_lancamento"
        *ngFor="let filme of filmes_lancamentos; index as i"
      >
        <img src="{{ filme.banner }}" />
        <div class="titulo">
          <p>
            Titulo: <a href="#">{{ filme.titulo }}</a>
          </p>
          <p>{{ filme.data }}</p>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="linha_g"></div>
    <p>© Moviez. Limited.</p>
  </footer>
</main>
