<header>
  <div class="logotipo">
    <a routerLink="/home"><b class="logo">Moviez.</b></a>
  </div>
  <div class="links">
    <a class="navegar" href="#">Inicio</a>
    <a class="navegar" href="#">Listas</a>
    <a class="navegar" href="#">Filmes</a>
    <div class="pesquisa">
      <input
        type="text"
        class="campo_pesquisa"
        name="pesquisar"
        placeholder="Busca..."
      />
      <button type="submit" class="botao_pesquisa">
        <img
          src="../../assets/img/icon_lupa.png"
          alt="Icone de uma lupa branca"
        />
      </button>
    </div>
    <a href="#" class="icone_perfil"
      ><img src="../../assets/img/icon_perfil.png" alt="Icone de perfil"
    /></a>
  </div>
</header>
<main>
  <div class="mensagem_entrada">
    <p>
      Olá, <a href="/perfil" class="nome_usuario">Gabriel.</a> Confira o que
      está rolando...
    </p>
  </div>

  <section class="recomendados">
    <p>Dos seus amigos:</p>

    <div class="linha_g"></div>

    <div class="filmes">

      <div class="card_filme" *ngFor="let item of filmes; index as i">
        <img
          src={{item.banner}}
          alt="banner filme vingadores ultimato"
        />
        
        <div class="informacoes_filme">

          <div class="usuario_filme">
            <img src={{item.fotoUsuario}} />
            <p class="nome_user">{{item.nomeUsuario}}</p>
            <p>{{item.data}}</p>
          </div>

          <div class="linha_p"></div>

          <div class="avaliacoes">

            <p class="assistido">Assistiu:<a href="#">{{item.nomeFilme}}</a></p>

            <div class="estrelas">
              <img
                src="../../assets/img/ icon _star_ (1).png"
                alt="icone estrela"
              />
              <img
                src="../../assets/img/ icon _star_ (1).png"
                alt="icone estrela"
              />
              <img
                src="../../assets/img/ icon _star_ (1).png"
                alt="icone estrela"
              />
            </div>

          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="lancamentos">
    <p>Lançamentos:</p>
    <div class="linha_g"></div>

    <div class="filmes">
    <div class="card_lancamento">
      <img
        src="../../assets/img/71niXI3lxlL 1.png"
        alt="banner filme vingadores ultimato"
      />
        <div class="titulo">
          <p>Titulo: <a href="#">Pânico 6</a></p>
          <p>9 mar 2023</p>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="linha_g"></div>
    <p>© Moviez. Limited.</p>
  </footer>
</main>
