<app-header></app-header>
<main>
  <button class="voltar" (click)="voltarTela()">
    <img
      src="../../assets/img/curva-de-seta-apontando-para-a-esquerda.png"
      alt="Icon seta curvada para a esquerda"
    />
  </button>
  <div class="img_fundo">
    <img
      src="{{ exibeFilme.img_fundo }}"
      alt="Imagem do Filme {{ exibeFilme.titulo }}"
    />
  </div>

  <section class="detalhes_filme">
    <div class="lado_esquerdo">
      <div class="container">
        <img
          src="{{ exibeFilme.banner }}"
          class="banner_filme"
          alt="Banner filme {{ exibeFilme.titulo }}"
        />
        <button class="adicionar_filme btn" (click)="modalAdicionar.toogle()">
          <img
            class="logo_btn"
            src="../../assets/img/ icon _star_ (2).png"
            alt="Icone x"
          />
        </button>
      </div>

      <div>
        <p class="onde_assistir">Onde assistir:</p>
        <div class="linhaBranca"></div>
        <div class="links">
          <img
            src="../../assets/img/🦆 icon _video_.png"
            alt="Icon de camera"
          />
          <a href="#">Trailer</a>
        </div>

        <div class="links">
          <img src="../../assets/img/Mask group.png" alt="Logo da Disney+" />
          <a href="#">Disney Plus</a>
          <p>(streaming)</p>
        </div>

        <div class="links">
          <img
            src="../../assets/img/Mask group (1).png"
            alt="Logo do Youtube"
          />
          <a href="#">Youtube</a>
          <p>(Aluguel e Compra)</p>
        </div>

        <div class="links">
          <img
            src="../../assets/img/Mask group (2).png"
            alt="Logo da Google Play"
          />
          <a href="#">Google Play</a>
          <p>(Aluguel e Compra)</p>
        </div>
        <div class="linhaBranca"></div>
        <p class="informacoes">Informações:</p>
        <div class="links">
          <img src="../../assets/img/Mask group (3).png" alt="Logo IMDB" />
          <a href="">IMDB</a>
        </div>
      </div>
    </div>
    <div class="lado_direito">
      <div class="titulo_filme">
        <h2>
          {{ exibeFilme.titulo }}
        </h2>
        <p>{{ exibeFilme.ano }}</p>
      </div>
      <div class="sinopse">
        <p>
          {{ exibeFilme.sinopse }}
        </p>
      </div>

      <div class="ficha_filme">
        <h2>Ficha do Filme</h2>
        <div class="linhaBranca"></div>
        <div class="informacoes_filme">
          <p><b>Lançamento:</b> {{ exibeFilme.lancamento }}</p>
          <p><b>Nota Média:</b> {{ exibeFilme.nota }}</p>
          <p><b>Duração:</b> {{ exibeFilme.duracao }}</p>
          <p><b>Língua:</b> {{ exibeFilme.lingua }}</p>
          <p><b>Roteiro:</b> {{ exibeFilme.roteiro }}</p>
          <p><b>Diretor:</b> {{ exibeFilme.diretor }}</p>
          <p><b>Atores:</b> {{ exibeFilme.atores }}</p>
          <p><b>Gênero:</b> {{ exibeFilme.genero }}</p>
          <p><b>Principais Prêmios:</b> {{ exibeFilme.premios }}</p>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>

  <!-- MODAL ADICIONAR -->

  <app-modal-adicionar #modalAdicionar>
    <header>
      <img
        (click)="modalAdicionar.toogle()"
        src="../../assets/img/x.png"
        alt="Icone de X"
      />
    </header>
    <section class="modalAdicionar">
      <form class="formFilme" [formGroup]="formulario">
      <div class="ajuste_img">
        <img
          class="modalImg"
          src="{{ exibeFilme.banner }}"
          alt="Banner do filme {{ exibeFilme.titulo }}"
        />
      </div>
      <div class="informacoesModal">
        <div class="tituloModal">
          <b>{{ exibeFilme.titulo }}</b>
          <p>{{ exibeFilme.ano }}</p>
        </div>
        <div class="linhaBrancaModal"></div>
        <div class="filmeModal">
          <b>Informações do Filme</b>

          <div  class="selecao">
            <input
              type="checkbox"
              id="jaAssisti"
              name="statusFilmes"
              value="Já assisti esse filme antes"
              formControlName="selected"
              (change)="onChangeCheckbox($event)"
            />
            <label for="jaAssisti">Já assisti esse filme antes</label><br />

            <input
              type="checkbox"
              id="queroAssistir"
              name="statusFilmes"
              value="Quero assistir"
              formControlName="selected"
              (change)="onChangeCheckbox($event)"
            />
            <label for="queroAssistir">Quero assistir</label><br />

            <input
              type="checkbox"
              id="favoritos"
              name="statusFilmes"
              value="Adicionar a favoritos"
              formControlName="selected"
              (change)="onChangeCheckbox($event)"
            />
            <label for="favoritos">Adicionar a favoritos</label><br />
          </div>

          <div class="data">
            <p>Data que pretendo assistir</p>


            <mat-form-field>
              <mat-label>Data</mat-label>
              <input class="datapicker" matInput [matDatepicker]="picker" formControlName="date" (dateChange)="onChangeData($event)">
              <mat-datepicker-toggle matIconSuffix [for]="picker" ></mat-datepicker-toggle>
              <mat-datepicker #picker ></mat-datepicker>
            </mat-form-field>

        </div>
        </div>

        <div class="linhaBrancaModal"></div>

        <div class="informacoesAdicionais">
          <b>Informações adicionais</b>

          <textarea name="descricao" id="descricao" (input)="descricaoFilme" (change)="onChangeMensagem($event)" formControlName="textArea"></textarea>

          <div class="avaliacao">
            <p>Já assistiu? Avalie</p>

            <div class="estrelas">
              <!-- Componente pego de site  -->
              <form>
              <div class="rating">
                <input value="5" name="rating" id="star5" checked="star5" type="radio" (change)="onChangeAvaliacao
                ($event)"  />
                <label for="star5"></label>
                <input value="4" name="rating" id="star4" checked="star4" type="radio" (change)="onChangeAvaliacao
                ($event)"  />
                <label for="star4"></label>
                <input value="3" name="rating" id="star3" checked="star3" type="radio" (change)="onChangeAvaliacao
                ($event)"  />
                <label for="star3"></label>
                <input value="2" name="rating" id="star2" checked="star2" type="radio" (change)="onChangeAvaliacao
                ($event)"  />
                <label for="star2"></label>
                <input value="1" name="rating" id="star1" checked="star1" type="radio" (change)="onChangeAvaliacao
                ($event)"  />
                <label for="star1"></label>
              </div>
            </form>
            </div>

            <button
              class="btnModal"
              (click)="modalConfirmar.toogle()"
              (click)="modalAdicionar.toogle()"
              (click)="salvarInformacoes()"
              [disabled]="formulario.invalid"
            >
              Adicionar
            </button>
          </div>
        </div>
      </div>
    </form>
    </section>
  </app-modal-adicionar>

  <!-- MODAL CONFIRMAÇÃO -->

  <app-modal-confirmar #modalConfirmar>
    <header>
      <img class="setaEsquerda" (click)="limparFormulario()" (click)="modalConfirmar.toogle()" (click)="modalAdicionar.toogle()" src="../../assets/img/seta-esquerda.png" alt="Icone seta para esquerda">
      <img
        (click)="modalConfirmar.toogle()"
        src="../../assets/img/x.png"
        alt="Icone de X"
      />
    </header>
    <section class="modalConfirmar">
      <div class="ajuste_img">
        <img
          class="modalImg"
          src="{{ exibeFilme.banner }}"
          alt="Banner do filme {{ exibeFilme.titulo }}"
        />
      </div>
      <div class="informacoesModal">
        <div class="tituloModal">
          <b>{{ exibeFilme.titulo }}</b>
          <p>{{ exibeFilme.ano }}</p>
        </div>
        <div class="linhaBrancaModal"></div>
        <div class="filmeModal">
          <b>Informações do Filme</b>

          <div class="statusFilme">
            <div class="ajusteLabel">
              <img src="../../assets/img/✓.png" />
              <label *ngIf="isJaAssistiu">Já assisti esse filme antes</label>
            </div>

            <div class="ajusteLabel">
              <img src="../../assets/img/✓.png" />
            <label *ngIf="isQueroAssistir">Quero assistir</label>
            </div>

            <div class="ajusteLabel">
              <img src="../../assets/img/✓.png" />
            <label *ngIf="isFavoritos">Adicionar a favoritos</label>
            </div>
          </div>

          <div class="data">

            <p>Filme assistido em {{localDate}}</p>

          </div>

        </div>

        <div class="linhaBrancaModal"></div>

        <div class="informacoesAdicionais">
          <b>Informações adicionais</b>

          <p class="descricao">{{valueMensagem}}</p>

          <div class="avaliacao">
            <p>Avaliação</p>

            <div class="estrelas">
              <!-- Componente pego de site  -->
              <div class="rating" >
                <input value="5" name="rating" id="star5" type="radio" />
                <label for="star5"></label>
                <input value="4" name="rating" id="star4" type="radio" />
                <label for="star4"></label>
                <input value="3" name="rating" id="star3" type="radio" />
                <label for="star3"></label>
                <input value="2" name="rating" id="star2" type="radio" />
                <label for="star2"></label>
                <input value="1" name="rating" id="star1" type="radio" />
                <label for="star1"></label>
              </div>
            </div>

            <button
              class="btnModal"
              (click)="modalConfirmar.toogle()"
              (click)="modalEfetivar.toogle()"
            >
              Confirmar
            </button>
          </div>
        </div>
      </div>
    </section>
  </app-modal-confirmar>

  <!-- MODAL EFETIVAÇÃO -->

  <app-modal-efetivar #modalEfetivar>
    <div id="modalEfetivar">
    <header>
      <img
        (click)="modalEfetivar.toogle()"
        src="../../assets/img/x.png"
        alt="Icone de X"
      />
    </header>
    <section class="modalEfetivar">
      <div class="comprovante">
        <p>
          <b>{{ exibeFilme.titulo }}</b> foi adicionado ao seu perfil!
        </p>
        <label>Teste Titulo</label>

        <button (click)="goPdf()" class="btnEfetivar">Baixar comprovante</button>

        <div class="linhaBrancaModal"></div>

        <div class="compartilhar">
          <p>Compartilhar comprovante</p>
          <div class="iconsCompartilhamento">
            <img
              (click)="redirectWhats()"
              src="../../assets/img/whatsapp-128-svgrepo-com 1.png"
              alt="Icone Whatsapp"
            />
            <img
              (click)="redirectFace()"
              src="../../assets/img/facebook-round-svgrepo-com 1.png"
              alt="Icone Facebook"
            />
          </div>
        </div>
      </div>
      <div class="imgConfirmado">
        <img
          src="../../assets/img/🦆 icon _check circle_.png"
          alt="Icone de Confirmação"
        />
      </div>
    </section>
  </div>
  </app-modal-efetivar>
</main>
