main{
  background-color: #464555;
  font-family: 'roboto';
}

.voltar{
  width: 50px;
  height: 50px;
  margin-left: 2%;
  margin-top: 2%;
  border: none;
  border-radius: 50px;
  background: linear-gradient(90deg, #B939A7 0%, #E13664 100%);
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.voltar:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.img_fundo img{
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  mask-image: linear-gradient(to top, transparent 10%, black 100%);
  position: relative;
  bottom: 78px;
}

h2{
  font-size: 32px;
}

.detalhes_filme{
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}

.lado_esquerdo{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 270px;
}

.imagemFilme{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner_filme{
  border-radius: 5px;
  width: 90%;
}

.adicionar_filme{
  width: 50px;
  height: 50px;
  color: white;
  background: linear-gradient(90deg, #B939A7 0%, #E13664 100%);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.adicionar_filme img{
  max-width: 20px ;
}

.container .btn {
  position: absolute;
  top: 90%;
  left: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin-bottom: 10%;
}


.container img {
  width: 100%;
  height: auto;
}

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin-bottom: 10%;
}


.container img {
  width: 100%;
  height: auto;
}

.onde_assistir{
  color: white;
  padding-left: 20px;
}

.linhaBranca{
  height: 1px;
  width: 100%;
  background-color: white;
  margin: 10px 0
}

.links{
  display: flex;
  margin-left: 20px;
  margin-bottom: 10px;
}

.links img{
  max-width: 20px;
  max-height: 20px;
}

.links p{
  color: grey;
}

.links a{
  color: white;
  margin: 0 5px
}

.informacoes{
  color: white;
  margin: 0 0 10px 20px
}


.lado_direito{
  width:65%;
  margin-top: 20px;
  color: white;
}

.titulo_filme{
  display: flex;
  align-items: end;
  margin-bottom: 15px;
}

.titulo_filme p{
  font-size: 18px;
  padding-bottom: 5px;
}

.titulo_filme h2{
  margin-right: 45px;
}

.sinopse{
  font-size: 18px;
}

.ficha_filme{
  margin-top: 20px;
}

.ficha_filme p{
  font-size: 18px;
  margin-bottom: 15px;
}

.modalExcluir{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.confirmacao{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mensagemExcluir{
  color: white;
  margin-top: 30px;
  text-align: center;
}

.botoes{
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-evenly;
}

.btn_confirmar{
  width: 40%;
  height: 40px;
  color: white;
  font-family: 'roboto';
  background: linear-gradient(90deg, #B939A7 0%, #E13664 100%);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.btn_confirmar:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.imagemConfirmado{
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagemConfirmado img{
  width: 60%;
}



@media(max-width:750px){
  .detalhes_filme{
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .lado_esquerdo{
    width: 60%;
    bottom: 100px;
  }

  .banner_filme{
    width: 70%;
  }

}


// // // // // // // // // CSS DO MODAL // // // // // // // //

app-modal-confirmar header{
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

header{
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
}

header img{
  cursor:pointer ;
}

.setaEsquerda{
  max-width: 16px;
  max-height: 16px;
}

.modalAdicionar{
  display: flex;
  width: 100%;
}


.modalImg{
  max-width: 80%;
  max-height: 100%;
  border-radius: 5px;
}

.ajuste_img{
  width: 30%;
}

.informacoesModal{
  width: 70%;
}

.tituloModal{
  display: flex;
  align-items: center;
}

.tituloModal b{
  margin-left: 5%;
  font-size: 20px;
  font-family: 'roboto';
  color: white;
}

.tituloModal p{
  margin-left: 2%;
  padding-top: 5px;
  font-family: 'roboto';
  color: white;
}

.linhaBrancaModal{
  width: 100%;
  margin: 15px 0;
  margin-left: 2%;
  height: 1px;
  background-color: white;
}

.filmeModal{
  margin-left: 5%;
  font-family: 'roboto';
  color: white;
}

.selecao{
  margin-top: 5%;
  height: 90px;
}

.selecao label{
  margin-left: 10px;
}

.selecao input{
  margin-bottom: 10px;
}

.data{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  // align-items: center;
}



mat-form-field{
  width: 30%;
  zoom: 0.75;
}

@media(max-width:718px){
  mat-form-field{
    width: 60%;
    margin-top: 10px;
  }
}

.mat-icon-button {
  padding: 0;
  min-width: 0;
  width: 40px;
  height: 16px;
  flex-shrink: 0;
  line-height: 12px;
  border-radius: 50%;
}

.informacoesAdicionais{
  margin-left: 5%;
  font-family: 'roboto';
  color: white;
}

textarea{
  margin: 10px 0 10px 0;
  width: 90%;
  height: 80px;
}

.estrelas{
  margin-top: 10px;
  display: flex;
}

// CSS DO COMPONENTE PEGO EM SITE

.rating {
  display: flex;
  flex-direction: row-reverse;
 /* Reverse the order of the stars */
  font-size: 0;
 /* Remove the space between the elements */
}

.rating input[type="radio"] {
  display: none;
 /* Hide the radio buttons */
}

.rating label {
  font-size: 40px;
  color: rgba(187, 183, 183, 0.726);
 /* Empty star color */
  margin: 0 2px;
  cursor: pointer;
}

.rating label:before {
  content: "\2605";
 /* Unicode character for filled star */
}

.rating input[type="radio"]:checked ~ label:before {
  content: "\2606";
 /* Unicode character for empty star */
  color: white;
 /* Filled star color */
}

// .rating {
//   display: inline-block;
// }

// .rating input {
//   display: none;
// }

// .rating label {
//   float: right;
//   cursor: pointer;
//   color: #ccc;
//   transition: color 0.3s;
// }

// .rating label:before {
//   content: url('../../assets/img/🦆 icon _star 1_.png');
//   font-size: 20px;
// }

// .rating input:checked ~ label,
// .rating label:hover,
// .rating label:hover ~ label {
//   background-color: yellow;
//   transition: color 0.3s;
// }


.star{
  max-width: 30px;
  margin-right: 15px;
}

.btnModal{
  width: 50%;
  height: 40px;
  margin-top: 10px;
  background: linear-gradient(90deg, #B939A7 0%, #E13664 100%);
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
}

.btnModal:hover{
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@media(max-width:750px){
  .data input{
    margin-left: 0;
    width: 80%;
    height: 20px;
  }

  .data{
    align-items: center;
    margin-top: 15%;
  }

  textarea{
    height: 60px;
  }

  .btnModal{
    width: 70%;
  }
}

// // // // // // // // CSS MODAL CONFIRMAR // // // // // // // //

.modalConfirmar{
  display: flex;
  width: 100%;
}

.statusFilme{
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.statusFilme img{
  max-width: 15px;
  max-height: 15px;
}

.statusFilme p{
  margin-left: 10px;
}

.descricao{
  margin: 15px 0;
}

.avaliacao{
  margin: 0 0 10px 0;
  display: flex;
  flex-direction: column;
}



@media(max-width:750px){
 .informacoesModal{
  width: 70%;
 }

 .modalConfirmar{
  width: 100%;
}

 .ajuste_img{
  width: 70%;
 }

}

// // // // // // // // CSS MODAL EFETIVAÇÃO // // // // // // // //

.modalEfetivar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  color: white;
  font-family: 'roboto';
}

.comprovante .linhaBrancaModal{
  margin-left: 0;
}

.btnEfetivar{
  width: 100%;
  margin: 30px 0 40px 0;
  height: 50px;
  background: linear-gradient(90deg, #B939A7 0%, #E13664 100%);
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 16px;
}

.btnEfetivar:hover{
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.compartilhar p{
  margin-bottom: 15px;
}

.compartilhar img{
  max-width: 50px;
  max-height:50px;
  margin-right: 10%;
}

.compartilhar img:hover{
  cursor: pointer;
  filter:drop-shadow(8px 6px 4px rgb(29, 28, 28));
}

.imgConfirmado{
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgConfirmado img{
  max-width: 150px;
  max-height: 150px;
}

@media(max-width:750px){
  .modalEfetivar{
    flex-direction: column-reverse;
  }

  .imgConfirmado{
    margin-bottom: 10%;
  }
}



